#yazi1 {
    animation: uptodown 2s;
}

#yazi2 {
    animation: downtoup 2s;
}

@keyframes uptodown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtoup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
